[submodule "libs/AndroidAsync"]
	path = libs/AndroidAsync
	url = git@github.com:koush/AndroidAsync.git
[submodule "libs/angular.js"]
	path = libs/angular.js
	url = git@github.com:akira-cn/angular.js.git
[submodule "libs/bootstrap"]
	path = libs/bootstrap
	url = git@github.com:akira-cn/bootstrap.git
[submodule "libs/angular-mobile-nav"]
	path = libs/angular-mobile-nav
	url = git@github.com:akira-cn/angular-mobile-nav.git
[submodule "pjax"]
	path = pjax
	url = git@github.com:welefen/pjax.git
