<style type="text/css">
  .accordion{
    padding: 3px;
  }
  .accordion-body.collapse{
    -webkit-transform: translate3d(0, 0, 0);
  }
  #plutoList a{
    text-decoration:none; 
  }
  p.operator{
    float: right;
    margin-right: 20px;
  }
  p.operator >a {
    padding: 10px 10px 10px 10px;
  }
  .accordion-heading a.cmdType{
    float: right;
    margin-right: 20px;
  }
  .accordion-heading a.cmdType.info{
    color: green;
  }
  .accordion-heading a.cmdType.warn{
    color: orange;
  }
  .accordion-heading a.cmdType.err{
    color: red;
  }
  .accordion-heading span.doing,
  .accordion-heading span.done,
  .accordion-body div.doing .content,
  .accordion-body div.done .content{
    font-style: italic;
  }
  .accordion-heading span.done,
  .accordion-body div.done .content{
    text-decoration:line-through;
    color: gray;
  }
  .accordion-body div.normal a:nth-child(1),
  .accordion-body div.doing a:nth-child(2),
  .accordion-body div.done a:nth-child(3){
    color: red;
  }

</style>

<div id="plutoList" ng-controller="PlutoCtrl">

  <accordion close-others="oneAtATime">
    <accordion-group>
      <accordion-heading>
        QAlarm Beta V0.1 
      </accordion-heading>
      设备ID: {{deviceId}}
    </accordion-group>
    <accordion-group ng-repeat="group in groups">
      <accordion-heading >
        <span class="{{group.state}}"> {{group.title | date:'yyyy-MM-dd HH:mm:ss'}} </span><a class="cmdType {{group.type}}">{{group.type}}</a>
      </accordion-heading>
      <div class="{{group.state}}">
        <p class="content">{{group.content}}</p> 
        <p class="operator">
          <a ng-click="undo(group)">未处理</a>
          <a ng-click="doing(group)">处理中</a>
          <a ng-click="done(group)">完成</a>
          <a ng-click="remove(group)">忽略</a>
        </p>
      </div>
    </accordion-group>
  </accordion>

</div>
